html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
.template {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.headeroption {
  background-color: #277273;
}
.headeroption h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  text-align: center;
}
.mainmenu {
  display: flex;
  flex-direction: row-reverse;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
  display: flex;
  flex-direction: row;
}
.mainmenu ul li {
  display: block;
}
.mainmenu ul li a {
  background-color: #0c5758;
  color: #fff;
  display: block;
  text-decoration: none;
  margin-left: 1px;
  padding: 5px 15px;
}
.mainmenu ul li a:hover {
  background-color: #489394;
}
.contentsection {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftsidebar {
  background-color: #277273;
  width: 20%;
  margin-right: 20px;
  min-width: 250px;
  height: calc(100vh - 151px);
}
.samesidebar {
  margin-bottom: 20px;
}
.samesidebar h2 {
  background-color: #489394;
  border-bottom: 2px solid #0f5a5bec;
  color: #ddd;
  padding: 2px 10px;
  margin: 0;
}
.samesidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.samesidebar ul li {
  background-color: #3b8687;
  padding: 5px 10px;
  border-bottom: 1px solid #489394;
}
.samesidebar ul li:last-child {
  border-bottom: 0px solid #489394;
}
.samesidebar ul li a {
  color: #ddd;
  display: block;
  text-decoration: none;
}
.samesidebar ul li a:hover {
  color: #444;
}
.maincontent {
  width: 80%;
}
.content {
  padding: 20px;
}
.content h2 {
  margin: 0 0 20px;
  border-bottom: 1px dashed #277273;
  padding-bottom: 5px;
}
.footersection {
  background-color: #277273;
}
.footersection h3 {
  text-align: center;
  color: #ddd;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 400px;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: 20px;
  border: 1px solid #ddd;
  color: #666;
}
input[type="submit"],
button[type="button"] {
  margin-left: 20px;
  background: #277273;
  color: #ddd;
  border: 1px solid #003637;
  padding: 2px 10px;
}
input[type="submit"]:hover,
button[type="button"]:hover {
  background: #489394;
}
input[type="file"] {
  margin-left: 0;
  cursor: pointer;
}
.catoption {
  margin-top: 20px;
}
.catoption h2 {
  border-bottom: 2px dashed #277273;
  margin: 0;
  margin-bottom: 7px;
  padding-bottom: 5px;
}
.mytable {
  width: 100%;
}
.mytable th {
  text-align: center;
  background-color: #666;
  color: #fff;
}
.mytable td {
  text-align: center;
  padding: 5px;
}
.mytable a {
  color: #277273;
  text-decoration: none;
}
.mytable a:hover {
  text-decoration: underline;
}
.mytable tr:nth-child(2n + 1) {
  background: #ddd;
}
select {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 5px;
  width: 558px;
  margin-top: 20px;
  cursor: pointer;
}
.content textarea {
  margin-bottom: 5px;
}
.addarticle input[type="text"] {
  border: 1px solid #ddd;
  color: #666;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 5px;
  width: 558px;
}
.addarticle select {
  border: 1px solid #ddd;
  color: #666;
  margin-bottom: 5px;
  width: 558px;
  cursor: pointer;
  margin-top: 20px;
}
.addarticle input[type="submit"] {
  background-color: #277273;
  border: 1px solid #003637;
  color: #ddd;
  margin-left: 0;
  padding: 2px 10px;
}
.loginpage {
  width: 515px;
  margin: 50px auto;
  background: #ddd;
  padding: 20px;
  box-shadow: 8px 7px 10px 1px #555;
  border-radius: 20px;
}
.loginpage h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
.loginpage input[type="submit"] {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  background: #666;
  padding: 5px 20px;
}
.loginpage input[type="submit"]:hover {
  background: #000;
}