body {
  display: flex;
  justify-content: center;
}
#main {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.head {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo-text {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 6px;
  color: orangered;
}
.nav-list {
  display: flex;
}
.nav-list .nav-item {
  list-style: none;
}
.nav-list .nav-item .nav-link {
  display: flex;
  margin-right: 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  transition: all 0.1s ease-in-out;
}
.nav-list .nav-item .first-link {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
  padding-bottom: 3px;
}
.nav-list .nav-item .nav-link:hover {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
  padding-bottom: 3px;
}
/*============HEADER-END=====*/
/*============Form-start=====*/
.form-section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.form-head {
  width: 100%;
  margin-top: 20px;
}
.form-title {
  background-color: #9e372c;
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 18px;
  color: #ffffff;
  margin-right: 4px;
}
.form-heading {
  font-size: 20px;
  color: #ffffff;
  word-spacing: 3px;
  font-weight: 100;
  margin-left: 2px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e74c3c;
  padding: 10px;
}
.select {
  width: 21%;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
}
.date-input {
  width: 21%;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px;
}
.search-btn {
  background-color: #c0392b;
  width: 8%;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
}
.trips-number {
  font-size: 35px;
  color: #555555;
  border-bottom: 2px solid #e74c3c;
  display: inline-block;
  margin-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.view-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 5px 10px black;
  margin: 15px 0px;
  padding: 20px;
}
.Taka {
  font-weight: bold;
}
.view-card .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.seat-icon {
  font-size: 30px;
}
.part .view-btn {
  text-decoration: none;
  background-color: #286090;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-seatplan {
  width: 100%;
  margin-top: 20px;
}
.show-seat {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.164);
}
.seat-view {
  padding: 25px;
  background-color: #edceb8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seat-left {
  margin-right: 30px;
}
.seat-btn {
  width: 45px;
  height: 25px;
  margin-bottom: 3px;
}
.upper-table {
  margin-left: 20px;
  font-weight: 600;
  color: #666666;
  font-size: 15px;
}
.hidden {
  display: none !important;
}
.button-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  margin: 20px;
}
.continue-btn {
  height: 30px;
  width: 100px;
  font-weight: bold;
  border: none;
  outline: none;
  background: rgba(0, 128, 0, 0.753);
  color: white;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.continue-btn .con-icon {
  font-size: 18px;
  font-weight: bold;
}
.selected {
  background: green;
}

.bus-info {
  width: 117rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.bus-info-left {
  width: 30%;
  border: 2px solid #555555;
  padding: 3rem 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: #555555;
  line-height: 1.9rem;
}
.bus-info-right {
  width: 30%;
  border: 2px solid #555555;
  padding: 3rem 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: #555555;
  line-height: 1.9rem;
}
.seat-table {
  margin-top: 20px;
}
.seat-table .content-table {
  margin-left: 20px;
}
.content-table thead tr {
  color: gray;
  text-align: left;
  font-weight: 500;
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
.content-table th,
.content-table td {
  padding: 10px 35px;
  color: gray;
}
.content-table tbody tr.table-row {
  border-top: 1px solid rgba(128, 128, 128, 0.527);
}
.user-pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.table-check {
  font-size: 1.7rem;
  margin-top: 4rem;
}
.btn {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.pay-btn,
.back-btn {
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  outline: none;
  background: rgba(0, 128, 0, 0.753);
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.pay-btn .card-icon {
  margin-left: 0.4rem;
  font-size: 2.3rem;
}
